<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{lista.titulo}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list>

  <!-- Nueva tarea -->
    <ion-item-divider color="light"></ion-item-divider>
    
    <ion-item>
      <ion-input placeholder="Nueva Tarea" [(ngModel)]="descripcionNuevaTarea" (keyup.enter)="guardarNuevaTarea()" type="text"></ion-input>
    </ion-item>

    <ion-item-divider color="light"></ion-item-divider>


  <!-- lista de tareas de la lista -->


    <ion-item-sliding *ngFor="let tarea of lista.tareas; let i = index" class="animated fadeInDown" >

      <ion-item (click)="modificarCompletadoTarea(tarea)">
        <ion-icon *ngIf="!tarea.completado" name="md-square-outline"></ion-icon>
        <ion-icon *ngIf="tarea.completado" name="md-checkbox-outline"></ion-icon>
        {{tarea.descripcion}}
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="borrarTarea(i)" icon-only>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>