<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{lista.titulo}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list no-lines>

  <!-- Nueva tarea -->
    <ion-item-divider color="light"></ion-item-divider>
    
    <ion-item>
      <ion-label fixed>Tarea:</ion-label>
      <ion-input [(ngModel)]="descripcionNuevaTarea" (keyup.enter)="guardarNuevaTarea()" type="text"></ion-input>
    </ion-item>

    <ion-item-divider color="light"></ion-item-divider>


  <!-- lista de tareas de la lista -->

    <ion-item *ngFor="let tarea of lista.tareas" class="animated fadeInDown" (click)="modificarCompletado(tarea)">
      <ion-icon *ngIf="!tarea.completado" name="square-outline"></ion-icon>
      <ion-icon *ngIf="tarea.completado" name="checkbox-outline"></ion-icon>
      {{tarea.descripcion}}
    </ion-item>

  </ion-list>

</ion-content>