<ion-list>
  <ion-item-sliding *ngFor="let lista of tareasSvc.listas | completadas:soloCompletadas">
    <ion-item-options side="left">
      <button ion-button color="primary" only-icon (click)="abrirPromptCambiarTitulo(lista)">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-item-options>
    <ion-item-options side="right">
      <button ion-button color="danger" only-icon (click)="eliminarLista(lista)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item-options>
    <button ion-item (click)="abrirLista(lista)">
      {{ lista.titulo }}
      <ion-note item-end>
        <ion-badge item-end> {{lista.tareas.length}}</ion-badge>
      </ion-note>
    </button>
  </ion-item-sliding>
</ion-list>